@page "{categoryUrl?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var isScoped = Model.CurrentCategory != null;
    if (isScoped)
    {
        ViewData["CategoryId"] = Model.CurrentCategory.Id;
    }
    var showCategories = !isScoped && Model.Categories.Any();
    var categoryDescription = isScoped ? Model.CurrentCategory : (ViewModel.ICategory)Model.Options;

    var showPosts = isScoped || Model.Posts.Any();
}

@if (showCategories)
{
    var categories = Model.Categories
        .OrderByDescending(x => x.SortKey)
        .ThenBy(x => x.Name)
        .ToArray();

    <div class="d-flex flex-wrap">
        @for (int i = 0; i < categories.Length; ++i)
        {
            var cat = categories[i];

        <div class="w-50">
            <div class="my-1 @(i % 2 == 0 ? "mr-1" : "ml-1")">
                <partial name="Category/_Card" model="cat" />
            </div>
        </div>
        }
    </div>
}

<partial name="Category/_Description" model="categoryDescription" />

@if (showPosts)
{
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedAt))
        {
            <partial name="Post/_Teaser" model="post" view-data="ViewData" />
        }

    }
    else
    {
        <p>-Keine Beiträge -</p>
    }
}
