@model ViewModel.Comment

<div class="border-top">
    <div class="d-flex flex-row bg-light px-3 py-2">
        <div class="flex-grow-1">
            @if (Model.Status != null)
            {
                <b style="color: #@Model.Status.ForegroundColor;">
                    @Model.Status.Name
                </b>
            }
        </div>

        <div class="align-self-right">
            @Model.CreatedBy -
            <span class="text-muted">
                @Model.CreatedAt.ToString("g")
            </span>
        </div>
    </div>
    <div class="px-3 py-2">
        <markdown source="@Model.Content" mode="Simple" />
    </div>
</div>