@model IEnumerable<ViewModel.Tag>

@if (Model?.Any() ?? false)
{
    @foreach (var tag in Model.OrderBy(x => x.Name))
    {
        <span class="badge d-block mb-1"
              style="background-color: #@(tag.BackgroundColor); color: #@(tag.ForegroundColor)">
            <i condition="!tag.IsPublic" class="fa fa-fw fa-lock"></i> @tag.Name
        </span>
    }
}